.aboutus{
    padding: 50px 80px;
    .firstsDiv{
        display: flex;
        gap: 20px;
        font-size: 20px;
        h2{
            font-size: 24px;
            text-align: center;
            padding-bottom: 20px;
        }
        img{
            width: 49%;
            border-radius: 5px;
        }
    }
}
.vision-statement{
         padding-top: 50px;
        display: flex;
        gap: 20px;
        h2{
            text-align: center;
            padding-bottom: 20px;
        }
       p{
        font-size: 20px;
       }
        img{
            height: 400px;
            width:49%;
            border-radius: 5px;
        }
    }
    .vision-statement1{
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .imagelast{
            flex: 1;
            height: 500px;
            width:40vw;
            border-radius: 5px;
        }
        h2{
            text-align: center;
            padding-bottom: 20px;
        }
        .listPara{
        flex: 1;
        ol{
            font-size: 20px;
            line-height: 30px;
            li{
               margin-left: 20px;          
            }
        }
       }   
    }
span{
    color: chocolate;
    font-weight: 600
}
@media screen and (max-width: 890px){
    .aboutus{
        padding: 40px 40px;
        .firstsDiv{
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 18px;
            h2{
                text-align: center;
                padding-bottom: 20px;
            }
            img{
                width: 100%;
                border-radius: 7px;
            }
        }
    }
    .vision-statement{
            padding-top: 50px;
            display: flex;
            flex-direction:column-reverse;
            gap: 30px;
            h2{
                text-align: center;
                padding-bottom: 20px;
            }
           p{
            font-size: 18px;
           }
            img{
                align-self: flex-start;
                width:100%;
                border-radius: 5px;
            }
        }
        .vision-statement1{
            padding-top: 50px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 30px;
            .imagelast{
                height: 500px;
                width:100%;
                border-radius: 5px;
            }
            h2{
                text-align: center;
                padding-bottom: 20px;
            }
           .listPara{
           
            ol{
                font-size: 18px;
                line-height: 30px;
                li{
                   margin-left: 20px;          
                }
            }
           }   
        }
}